CompileFlags:
  Add:
    - -ferror-limit=0
    - -Wall
    - -Wextra
    - -Wno-unused-parameter
Diagnostics:
  Suppress:
    - unused-includes
---
If:
  PathMatch: ^pwos-slave/.*
CompileFlags:
  CompilationDatabase: pwos-slave/build/ZGT6Debug
  Add:
    - -DUSE_HAL_DRIVER
    - -DSTM32F407xx
    - -Ipwos-shared/mini9p
    - -Ipwos-slave/User/backend
    - -Ipwos-slave/User/mesh
    - -Ipwos-slave/User/uart_transport
    - -Ipwos-slave/User/app
    - -Ipwos-slave/User/fs
    - -Ipwos-slave/User/drivers/storage
    - -Ipwos-slave/Core/Inc
    - -Ipwos-slave/Drivers/STM32F4xx_HAL_Driver/Inc
    - -Ipwos-slave/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy
    - -Ipwos-slave/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - -Ipwos-slave/Drivers/CMSIS/Include
---
If:
  PathMatch: ^pwos-slave-stm32f411/.*
CompileFlags:
  CompilationDatabase: pwos-slave-stm32f411/build/Debug
  Add:
    - -DUSE_HAL_DRIVER
    - -DSTM32F411xE
    - -Ipwos-slave-stm32f411/User/backend
    - -Ipwos-slave/User/mesh
    - -Ipwos-slave-stm32f411/User/os
    - -Ipwos-slave-stm32f411/User/app
    - -Ipwos-slave-stm32f411/User/fs
    - -Ipwos-slave-stm32f411/Core/Inc
    - -Ipwos-slave-stm32f411/Drivers/STM32F4xx_HAL_Driver/Inc
    - -Ipwos-slave-stm32f411/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy
    - -Ipwos-slave-stm32f411/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - -Ipwos-slave-stm32f411/Drivers/CMSIS/Include
---
If:
  PathMatch: ^pwos-slave-stm32f411/.*\.(cpp|cxx|cc|hpp|hh)$
CompileFlags:
  Add:
    - -std=gnu++17
    - -fno-rtti
    - -fno-exceptions
    - -fno-threadsafe-statics
---
If:
  PathMatch: ^pwos-master-esp32p4/(vfs_bridge|mesh|cluster)/.*
CompileFlags:
  CompilationDatabase: pwos-master-esp32p4/vfs_bridge/test/build
  Add:
    - -std=gnu11
    - -Ipwos-master-esp32p4/mesh
    - -Ipwos-master-esp32p4/cluster
    - -Ipwos-master-esp32p4/vfs_bridge
    - -Ipwos-shared/mini9p
    - -Ipwos-shared/mesh/cluster
    - -Ipwos-shared/mesh/envelope
    - -Ipwos-shared/mesh/processer
    - -Ipwos-shared/mesh/transport
---
If:
  PathMatch: ^tools/pc_master_emulator/.*
CompileFlags:
  CompilationDatabase: tools/pc_master_emulator/build
---
If:
  PathMatch: ^pwos-slave/User/backend/test/.*
CompileFlags:
  CompilationDatabase: pwos-slave/User/backend/test/build
---
If:
  PathMatch: ^pwos-slave/User/uart_transport/test/.*
CompileFlags:
  CompilationDatabase: pwos-slave/User/uart_transport/test/build
---
If:
  PathMatch: ^pwos-master-esp32p4/(vfs_bridge|mesh|cluster)/test/.*
CompileFlags:
  Add: []
---
If:
  PathMatch: ^pwos-slave/User/uart_transport/test/.*
CompileFlags:
  Add:
    - -Ipwos-slave/User/uart_transport/test/stubs
